.App {
  background-color: #282c34;
  margin-left: 20%;
  margin-right: 20%;
}

.App-header {
  color: white;
  background-color: #282c34;
  font-size: calc(5px + 2vmin);
}

.App-link {
  color: #61dafb;
}
h3{
  color: #61dafb;
  border: 5px solid red;
  border-radius: 5px;
  width: 200px;
}
.Word{
  background-color: aliceblue;
}
.text{
  background-color: aliceblue;
}